@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans Pro", sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
