@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans Pro", sans-serif;
}
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 27, 45);
}

.app {
  display: flex;
  position: fixed;
}

.content {
  overflow-y: scroll;
  background-color: #001529;
  padding: 20px;
  border-top-left-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #002140;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
